<div class="row">
  <div class="columns large-12">
    <h3 class="story-title"><%= @story_title %>
      <small>by <%= @author %></small>
    </h3>
  </div>
</div>


<div class="panel radius">
  <h4 ><%= @page_header %><hr/></h4>
  <h5 class="subheader"><%= @text %></h5>
</div>

<!-- "CHOICES" row begin -->
<div class="row">
  <% unless @end_point %>
    <% option_size = 12 / @actions.length %>
  <% end %>

  <% @actions.each do |action| %>
    <div class="<%= "large-#{option_size} small-#{option_size} columns" %>">
      <div class="panel radius clearfix">
        <!-- <h5>Header</h5> -->
        <div class="row">
          <div class="large-8 columns">
            <h5 class="left"><%= action[0] %></h5>
          </div>
          <div class="small-12 large-4 columns">
            <a href="<%= action[1] %>" class="small button radius right center">Select</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- "CHOICES" row ended -->

<!-- "THE END" row begin -->
<% if @end_point %>
  <div class="row">
    <h3 class="the-end text-center">The End.</h3>
    <h6 class="text-center"><a href="/story/1">Click here to restart the story!</a></h6>
  </div>
<% end %>
<!-- "THE END" row begin -->
