<div class="row">
  <a href="#" data-reveal-id="myModal" class="right">How does this work?</a>

  <h2>Make Your Own Adventure</h2>

  <div id="myModal" class="reveal-modal" data-reveal>
    <h2>Use this form to build your story page-by-page.</h2>
    <p>Each page you write will need:</p>
    <ul>
      <li>A unique page ID - this will allow you to send your readers from page
        to page, depending on their actions! (Your first page should be #1.)</li>
      <li>A page header - this will be what displays on the top of of your page.</li>
      <li>Page text - this is where you tell the story!</li>
      <li>A set of options, and the page ID that each option leads to. You can
        use all four options, only one option, or anything in between! Make sure
        to include the page ID of where each option should lead to. Leaving all
        options blank indicates a story end-point.</li>
    </ul>
    <p>Once you've filled out the page, click "Submit Page" to view it on
    the list of pages provided below the form.</p>
    <p>When you're done with your story, click "I'm Done!" to go back to the
    home page and read your story!</p>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>

<div class="row">
  <form action="<%= "/create/#{@id}"%>" method="post">
    <div class="row">
      <div class="large-6 columns">
        <label for="title">Title:</label>
        <h6><%= @story.title %></h6>
      </div>
      <div class="large-6 columns">
        <label for="author">Author:</label>
        <h6><%= User.find(@story.user_id).name %></h6>
      </div>
    </div>
    <hr />
    <!-- Begin PAGE INFO input area -->
    <div class="row">
      <div class="large-12 columns">
        <h5>New Page:</h5>
      </div>
      <div class="large-2 columns">
        <label for="page_id">Page ID:</label>
        <input type="number" id="page_id" name="page_id" required />
      </div>
      <div class="large-4 columns">
        <label for="page_header">Page header:</label>
        <input type="text" id="page_header" name="page_header" required/>
      </div>
      <div class="large-6 columns">
        <label for="page_text">Page text:</label>
        <textarea id="page_text" name="page_text" required></textarea>
      </div>
    </div>

    <div class="row">
      <div class="large-3 columns">
        <label for="opt_1">Option 1:</label>
        <input type="text" id="opt_1" name="opt_1" />

        <label for="id_1">Destination of Option 1:</label>
        <input type="text" id="id_1" name="id_1" />
      </div>
      <div class="large-3 columns">
        <label for="opt_2">Option 2:</label>
        <input type="text" id="opt_2" name="opt_2" />

        <label for="id_2">Destination of Option 2:</label>
        <input type="text" id="id_2" name="id_2" />
      </div>
      <div class="large-3 columns">
        <label for="opt_3">Option 3:</label>
        <input type="text" id="opt_3" name="opt_3" />

        <label for="id_3">Destination of Option 3:</label>
        <input type="text" id="id_3" name="id_3" />
      </div>
      <div class="large-3 columns">
        <label for="opt_4">Option 4:</label>
        <input type="text" id="opt_4" name="opt_4" />

        <label for="id_4">Destination of Option 4:</label>
        <input type="text" id="id_4" name="id_4" />
      </div>
    </div>
    <!-- end PAGE INFO input area -->
    <input type="submit" value="Submit Page" class="button right small">
  </form>
</div>
<!-- END FORM -->

<!-- START TABLE -->
<div class="row">
  <table>
    <thead>
      <tr>
        <th>Index</th>
        <th>Title</th>
        <th>Text</th>
        <th>Option 1</th>
        <th>Dest. 1</th>
        <th>Option 2</th>
        <th>Dest. 2</th>
        <th>Option 3</th>
        <th>Dest. 3</th>
        <th>Option 4</th>
        <th>Dest. 4</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.page_num %></td>
          <td><%= page.page_header %></td>
          <td><%= page.page_body %></td>
          <td><%= page.action1 %></td>
          <td><%= page.dest1 %></td>
          <td><%= page.action2 %></td>
          <td><%= page.dest2 %></td>
          <td><%= page.action3 %></td>
          <td><%= page.dest3 %></td>
          <td><%= page.action4 %></td>
          <td><%= page.dest4 %></td>
          <form action="<%="/create/#{@id}"%>" method="post">
            <td>
              <input type="hidden" name="delete" value="<%= page.id %>">
              <input type="submit" value="X" class="button small">
            </td>
          </form>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <!-- END TABLE -->
<hr />

<div class="row text-center">
  <a href="/stories" class="button">I'm Done!</a>
</div>
